<template>
  <div class="section error-404">
    <!--<div class="row">-->
    <div class="col-md-12">
      <b-card bg-variant="light">
        <p>
          <center>
            <h2>
              Упс, 404 <v-icon x-large>
                info
              </v-icon>
            </h2>
          </center>
        </p>
        <p>
          <center>
            <h3>Ничего не найдено</h3>
          </center>
        </p>
        <p />
      </b-card>
    </div>
    <!--</div>-->
  </div>
</template>

<script>

export default {
  name: 'Error404',
  data () {
    return {}
  },
  methods: {
    repeat: function () {
      this.$router.push('/lasa/')
    }
  }
}
</script>
