<template>
  <!--<b-container fluid>-->
  <div class="row">
    <div class="col-md-12">
      <b-navbar
        toggleable
        variant="info"
        fixed="bottom"
      >
        <div class="col-md-12 pa-1">
          <center>
            <span class="text-light">Версия {{ version }}</span>
          </center>
        </div>
      </b-navbar>
    </div>
  </div>
  <!--</b-container>-->
</template>

<script>

export default {
  name: 'Footer',
  data () {
    return {
      version: '0.0.1'
    }
  }
}

</script>
