<template>
  <div class="section forbidden">
    <!--<div class="row">-->
    <div class="col-md-12">
      <p>
        <center>
          <h1>Доступ запрещен</h1>
        </center>
      </p>
      <p>
        <center>
          <a
            class="text-primary"
            style="cursor: pointer;"
            @click="repeat"
          >Вернуться назад</a>
        </center>
      </p>
    </div>
    <!--</div>-->
  </div>
</template>

<script>

export default {
  name: 'Forbidden',
  data () {
    return {}
  },
  methods: {
    repeat: function () {
      this.$router.push(this.$route.query.redirect)
    }
  }
}
</script>
