<template>
  <!--<b-container fluid>-->
  <b-navbar
    toggleable="lg"
    type="dark"
    variant="info"
  >
    <b-navbar-brand>
      <router-link
        to="/home"
        active-class="active"
      >
        {{ title }}
      </router-link>
    </b-navbar-brand>
    <b-navbar-nav>
      <router-link
        to="/home"
        active-class="active"
      >
        <a class="nav-link">Home</a>
      </router-link>
      <router-link
        to="/comments"
        active-class="active"
      >
        <a class="nav-link">Comments</a>
      </router-link>
    </b-navbar-nav>
    <b-navbar-nav
      v-if="isAuthenticated"
      class="ml-auto"
    >
      <b-nav-item-dropdown right>
        <!-- Using 'button-content' slot -->
        <template #button-content>
          <em>{{ userLogin }}</em>
        </template>
        <b-dropdown-item href="/api/security/logout">
          Sign Out
        </b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </b-navbar>

  <!--</b-container>-->
</template>

<script>

import axios from "axios";

export default {

  name: 'Header',
  data() {
    return {
      title: 'Мой тестовый проект',
    }
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters['security/isAuthenticated']
    },
    userLogin() {
      return this.$store.getters['security/getLogin']
    },
  },
  created() {

    let isAuthenticated = JSON.parse(this.$parent.$root.$el.attributes["data-is-authenticated"].value),
      user = JSON.parse(this.$parent.$root.$el.attributes["data-user"].value);

    let payload = {isAuthenticated: isAuthenticated, user: user};
    this.$store.dispatch("security/onRefresh", payload);
    axios.interceptors.response.use(undefined, (err) => {
      return new Promise(() => {
        if (err.response.status === 401) {
          this.$router.push({path: "/login"})
        }
        throw err;
      });
    });
  },
}

</script>
