<template>
  <div id="app">
    <my-header />
    <div class="app-main">
      <div class="app-transition">
        <transition
          name="fade"
          mode="out-in"
        >
          <router-view />
        </transition>
      </div>
    </div>
    <my-footer />
  </div>
</template>

<script>

import MyHeader from '~/components/Header';
import MyFooter from '~/components/Footer';

export default {
  name: 'Home',
  components: { MyHeader, MyFooter }
}
</script>
