<template>
  <div>
    <div class="row col">
      <h1>Comments</h1>
    </div>

    <div
      v-if="canCreatePost"
      class="row col"
    >
      <form>
        <div class="form-row">
          <div class="col-8">
            <input
              v-model="message"
              type="text"
              class="form-control"
            >
          </div>
          <div class="col-4">
            <button
              :disabled="message.length === 0 || isLoading"
              type="button"
              class="btn btn-primary"
              @click="createComment()"
            >
              Create
            </button>
          </div>
        </div>
      </form>
    </div>

    <div
      v-if="isLoading"
      class="row col"
    >
      <p>Loading...</p>
    </div>

    <div
      v-else-if="hasError"
      class="row col"
    >
      <div
        class="alert alert-danger"
        role="alert"
      >
        {{ error }}
      </div>
    </div>

    <div
      v-else-if="!hasComments"
      class="row col"
    >
      No posts!
    </div>

    <b-table
      striped
      hover
      :items="Comments"
    />
  </div>
</template>

<script>


export default {
  data() {
    return {
      message: ""
    };
  },
  computed: {
    isLoading() {
      return this.$store.getters["comment/isLoading"];
    },
    hasError() {
      return this.$store.getters["comment/hasError"];
    },
    error() {
      return this.$store.getters["comment/error"];
    },
    hasComments() {
      return this.$store.getters["comment/hasComments"];
    },
    Comments() {
      return this.$store.getters["comment/Comments"];
    },
    canCreatePost() {
      return this.$store.getters["security/hasRole"]("ROLE_USER");
    }
  },
  created() {
    this.$store.dispatch("comment/findAll");
  },
  methods: {
    async createComment() {
      const result = await this.$store.dispatch("comment/create", this.$data.message);
      if (result !== null) {
        this.$data.message = "";
      }
    }
  }
};
</script>

