<template>
  <div id="components-demo">
    <button-counter />
    <button-counter />
    <button-counter />
  </div>
</template>
<script>
import ButtonCounter from "~/components/submodules/home/component/ButtonCounter.vue"
export default {
  components:
    {
      ButtonCounter
    }
}
</script>